
body{
   max-width: 900px;
   margin: auto;
}

/******  Header *********/
.masthead a img{
   display: inline-block;
   width: 60px;
   margin: unset;
}
.masthead nav{
   float: right;
   vertical-align: middle;
   line-height: 60px;
   font-size: 20px;
}
.masthead nav a{
   padding:10px;
   margin:10px;
   text-decoration: none;
   font: 400 25px/55px Sniglet,"Open Sans",sans-serif;
}
