
/*********  
	light yellow: #ffd645
	dark yellow: #fcc43a
*********/


section{
   max-width: 900px;
   margin: auto;
}

/******  Header *********/
.masthead a img{
   display: inline-block;
   width: 60px;
   border: 3px solid #e0dfcc;
   border-radius: 15px;
}
.masthead nav{
   float: right;
   vertical-align: middle;
   line-height: 60px;
   font-size: 20px;
}
.masthead nav a{
    text-decoration: none;
    font-family: 'Sniglet', cursive;
    background: #ffd645;
    padding: 8px 14px;
    border-radius: 4px;
    color: black;
}
.masthead nav a:hover{
   position:relative;
   top:-5px;
   transition:all 0.8s ease;
   background:#fcc43a;
}


/******  Footer ****/
footer{
    clear:both;
    background: #193a52;
  	color: white;
    height: 200px;
    margin: auto;
    padding-top: 30px;
}
footer #Footer_left{
	width:45%;
}
footer ul li{
	list-style: none;
  	line-height:30px;
}
footer ul li a{
 	text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
}
