
/*********  
	light yellow: #ffd645
	dark yellow: #fcc43a
*********/


body{
   max-width: 900px;
   margin: auto;
}

/******  Header *********/
.masthead a img{
   display: inline-block;
   width: 60px;
   margin: unset;
}
.masthead nav{
   float: right;
   vertical-align: middle;
   line-height: 60px;
   font-size: 20px;
}
.masthead nav a{
    text-decoration: none;
    font: 400 25px/55px Sniglet,"Open Sans",sans-serif;
    background: #ffd645;
    padding: 8px 14px;
    border-radius: 4px;
}
.masthead nav a:hover{
   background:#fcc43a;
}
