#main a{
    text-decoration: none;
    font-family: 'Sniglet', cursive;
    background: #ffd645;
    padding: 8px 14px;
    border-radius: 4px;
}
#main a:hover{
   transition:all 0.8s ease;
   background:#fcc43a;
}

/******  Home Page *********/
#GitGoogle{
   background: linear-gradient(70deg, #e5edf9 50%, #385d97 50%);
   height:400px;
   padding-top: 50px;
   max-width:unset;
}
#GitGoogle div{
   display: block;
   width: 50%;
   float: left;
   height: 100%;
   text-align: center;
   
}
#GitGoogle div:before{
   font-family: fontawesome;
   display: block;
   font-size: 100px;
}
#GitGoogle div:nth-of-type(1):before{
    content:'\f2b3';
    color: #385d97;
}
#GitGoogle div:nth-of-type(2):before{
    content: '\f092';
    color: #e5edf9;
}
