#main a{
    text-decoration: none;
    font-family: 'Sniglet', cursive;
    background: #ffd645;
    padding: 8px 14px;
    border-radius: 4px;
}
#main a:hover{
   transition:all 0.8s ease;
   background:#fcc43a;
}
