---
layout: default
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/notes.css" />


<section class="notes">
   <nav>   <div> </div>  </nav>
   <div class="content">
      {{ content }}
   </div>
</section >






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  	// click go to target title 
    $(".notes .content h1, .notes .content h2 ").clone(true,true).appendTo( ".notes nav" );
    $(".notes nav h1").click(function() {
	console.log(SelectedTag.offset());
    	let Nav_Title = $(this).text();
    	let SelectedTag =$(".notes.content h1:contains("+Nav_Title+")");
    	$('html, body').animate({
    		scrollTop: ( SelectedTag.offset().top)
		},500);
     });
     $(".notes nav div").click(function() {
	  $(".notes nav").css({'display':'none'});
	  $(".notes .content").css({'margin':'auto','border':'0'});
	     
     });
    // left navigation continues shown 
/***
  	$(document).on( 'scroll', function(){
    	console.log( $(window).height() ) ;
    	console.log( document.body.clientHeight);
    	if( self.pageYOffset+document.body.clientHeight  > $('.notes nav').height()  ){
    		$('.notes nav').css({'position':'fixed', 'bottom':'0'});
    	}else{
    		$('.notes nav').css({'position':'absolute', 'bottom':'unset'});
    	}
	});
***/
});
</script>
