---
layout: default
published: true
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/page.css" />
<div class="page">
    <h1>{{ page.title }}</h1>
    <div class="entry">
        {{ content }}
    </div>
</div>



<footer class="footer"> 
<section>	
    <div class="FooterBlock">
    	<ul >
           	<li><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <a href="https://github.com/rfd3344/rfd3344.github.io/tree/master/images" target="_blank"> Upload Image</a> </li>  	
       	    <li><i class="fa fa-files-o" aria-hidden="true"></i>
                <a href="https://github.com/rfd3344/rfd3344.github.io/tree/master/notes" target="_blank"> Edit Notes</a> </li>
            <li><i class="fa fa-file-image-o" aria-hidden="true"></i>
                <a href="https://github.com/rfd3344/rfd3344.github.io/tree/master/notes/zPhoto" target="_blank"> Upload Notes Picture</a> </li>
            <li><i class="fa fa-th-large" aria-hidden="true"></i>
                <a href="https://github.com/rfd3344/rfd3344.github.io/tree/master/_posts" target="_blank"> Publish Blog </a> </li>
        </ul>    
  	</div>
  
  
  
    <div class="FooterBlock">
   		<ul>
            <li><i class="fa fa-th-large" aria-hidden="true"></i>
                <a href="http://prose.io/" target="_blank"> Prose </a> </li>

        </ul>    
  	</div>
  
	<div class="FooterBlock">
   		<ul >
            <li><i class="fa fa-apple" aria-hidden="true"> </i>
                <a href="https://rfd3344.github.io/notes/MacCommend/" target="_blank"> MacCommend</a> </li>
          		
        </ul>    
    </div>
  
  
  
</section>	
</footer>
